{% extends 'base.html' %}


{% block content %}
<div class="row">
  <div class="jumbotron my-5">
    <h1 class="display-4">Welcome to your djangobased Power BI test application</h1>
    {% if user.is_authenticated %}
    <p class="lead">Select a report from the reports menu item.</p>
    <hr class="my-4">
    <p>Extend this to your liking and try to import more than one report.</p>
    <p>Also try to dynamically provide the username to the Power BI API.</p>
    {% endif %}    
    {% if not user.is_authenticated %}
      <a class="btn btn-primary btn-lg mt-5 mx-auto" href="{% url 'login' %}" role="button">Log In</a>       
    {% endif %}
  </div>
</div>
{% endblock %}